<form class="{{cssClass}} {{actor.type}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="character-header">

	<img class="character-image" src="{{actor.img}}" data-edit="img" title="{{data.attributes.name}}" />
		
	<div class="attributes">

		<div>
			<h1 class="attribute-character-name">
				<input id="name" type="text" value="{{actor.name}}" placeholder="Name"/>
			</h1>
		</div>

		<div>
			<div>
			  <label for="data.attributes.stock">Stock</label>
			  <input type="text" name="data.attributes.stock" value="{{data.attributes.stock}}" />
			</div>

			<div>
			  <label for="data.attributes.class">Class</label>
			  <input type="text" name="data.attributes.class" value="{{data.attributes.class}}" />
			</div>

			<div>
			  <label for="data.attributes.age">Age</label>
			  <input type="number" name="data.attributes.age" value="{{data.attributes.age}}" />
			</div>

			<div>
			  <label for="data.attributes.level">Level</label>
			  <input type="number" name="data.attributes.level" value="{{data.attributes.level}}" />
			</div>
		</div>

		<div>
			<div>
			  <label for="data.attributes.home">Home</label>
			  <input type="text" name="data.attributes.home" value="{{data.attributes.home}}" />
			</div>

			<div>
			  <label for="data.attributes.raiment">Raiment</label>
			  <input type="text" name="data.attributes.raiment" id="data-attributes-raiment" value="{{data.attributes.raiment}}" />
			</div>
		</div>
	  </div>

	
		<div class="conditions">	
			<div>
			  <label for="data.conditions.fresh">Fresh</label>
			  <input type="checkbox" name="data.conditions.fresh" value="{{data.conditions.fresh}}" data-dtype="Boolean" {{checked data.conditions.fresh}}/>
			</div>

			<div>
			  <label for="data.conditions.hungry_and_thirsty">Hungry & Thirsty</label>
			  <input type="checkbox" name="data.conditions.hungry_and_thirsty" value="{{data.conditions.hungry_and_thirsty}}" data-dtype="Boolean" {{checked data.conditions.hungry_and_thirsty}} />
			</div>

			<div>
			  <label for="data.conditions.angry">Angry</label>
			  <input type="checkbox" name="data.conditions.angry" value="{{data.conditions.angry}}" data-dtype="Boolean" {{checked data.conditions.angry}} />
			</div>

			<div>
			  <label for="data.conditions.exhausted">Exhausted</label>
			  <input type="checkbox" name="data.conditions.exhausted" value="{{data.conditions.exhausted}}" data-dtype="Boolean" {{checked data.conditions.exhausted}} />
			</div>

			<div>
			  <label for="data.conditions.sick">Sick</label>
			  <input type="checkbox" name="data.conditions.sick" value="{{data.conditions.sick}}" data-dtype="Boolean" {{checked data.conditions.sick}} />
			</div>

			<div>
			  <label for="data.conditions.injured">Injured</label>
			  <input type="checkbox" name="data.conditions.injured" value="{{data.conditions.injured}}" data-dtype="Boolean" {{checked data.conditions.injured}} />
			</div>

			<div>
			  <label for="data.conditions.dead">Dead</label>
			  <input type="checkbox" name="data.conditions.dead" value="{{data.conditions.dead}}" data-dtype="Boolean" {{checked data.conditions.dead}} />
			</div>
		</div>
	</header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="abilities-skills">Abilities & Skills</a>
    <a class="item" data-tab="inventory">Inventory</a>
    <a class="item" data-tab="about">About</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="abilities flexcol">
            {{#each data.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="data.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
              <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/torchbearer2e/templates/actor/parts/actor-features.html"}}
        </section>

      </section>
    </div>

    {{!-- Abilities/Skills Tab --}}
    <div class="tab abilities-skills" data-group="primary" data-tab="abilities-skills">

		<!-- TODO: put nature descriptor somewhere else
		<div class="abilities-info">
			
			<div>
				<label for="data.abilities.nature.descriptor">Nature descriptor</label>
				<input type="text" name="data.abilities.nature.descriptor" value="{{data.abilities.nature.descriptor}}" data-dtype="String" />
			</div>
		</div>
		-->

		<div class="abilities-skills">
			<div>
				<h2>Abilities</h2>
					
				<table>
					{{#each data.abilities as |ability key|}}
						<tr>
							<td>
								<label for="data.abilities.{{key}}.rating">{{ability.description}}</label>
							</td>
							<td>
								<input type="text" name="data.abilities.{{key}}.rating" value="{{ability.rating}}" data-dtype="Number" />
							</td>
							<td>
								<i class="fas fa-dice-five fa-lg"></i>
							</td>
							<td>
								<div class="test-tracker">
									<span>P:</span>
									<label for="ability.test.pass.{{key}}.1">&nbsp;</label>
									<input type="checkbox" id="ability.test.pass.{{key}}.1" value="1">
									<label for="ability.test.pass.{{key}}.2">&nbsp;</label>
									<input type="checkbox" id="ability.test.pass.{{key}}.2" value="2">
									<label for="ability.test.pass.{{key}}.3">&nbsp;</label>
									<input type="checkbox" id="ability.test.pass.{{key}}.3" value="3">
									<label for="ability.test.pass.{{key}}.4">&nbsp;</label>
									<input type="checkbox" id="ability.test.pass.{{key}}.4" value="4">
									<label for="ability.test.pass.{{key}}.5">&nbsp;</label>
									<input type="checkbox" id="ability.test.pass.{{key}}.5" value="5">
									<label for="ability.test.pass.{{key}}.6">&nbsp;</label>
									<input type="checkbox" id="ability.test.pass.{{key}}.6" value="6">
								</div>
								<div class="test-tracker">
									<span>F:</span>
									<label for="ability.test.fail.{{key}}.1">&nbsp;</label>
									<input type="checkbox" id="ability.test.fail.{{key}}.1" value="1">
									<label for="ability.test.fail.{{key}}.2">&nbsp;</label>
									<input type="checkbox" id="ability.test.fail.{{key}}.2" value="2">
									<label for="ability.test.fail.{{key}}.3">&nbsp;</label>
									<input type="checkbox" id="ability.test.fail.{{key}}.3" value="3">
									<label for="ability.test.fail.{{key}}.4">&nbsp;</label>
									<input type="checkbox" id="ability.test.fail.{{key}}.4" value="4">
								</div>
							</td>
						</tr>
					{{/each }}
				</table>
			</div>

			<div>
				<h2>Skills</h2>
				<table>
					{{#each data.skills as |skill key|}}
						<tr>
							<td>
								<label for="data.skills.{{key}}.rating">{{skill.description}}</label>
							</td>
							<td>
								<input type="number" name="data.skills.{{key}}.rating" value="{{skill.rating}}" data-dtype="Number" />
							</td>
							<td>
								<i class="fas fa-dice-five fa-lg"></i>
							</td>
							<td>
								<div>
									<span>P:</span>
									<label for="skill.test.pass.{{key}}.1">&nbsp;</label>
									<input type="radio" id="skill.test.pass.{{key}}.1" value="1">
									<label for="skill.test.pass.{{key}}.2">&nbsp;</label>
									<input type="radio" id="skill.test.pass.{{key}}.2" value="2">
									<label for="skill.test.pass.{{key}}.3">&nbsp;</label>
									<input type="radio" id="skill.test.pass.{{key}}.3" value="3">
									<label for="skill.test.pass.{{key}}.4">&nbsp;</label>
									<input type="radio" id="skill.test.pass.{{key}}.4" value="4">
									<label for="skill.test.pass.{{key}}.5">&nbsp;</label>
									<input type="radio" id="skill.test.pass.{{key}}.5" value="5">
									<label for="skill.test.pass.{{key}}.6">&nbsp;</label>
									<input type="radio" id="skill.test.pass.{{key}}.6" value="6">
								</div>
								<div>
									<span>F:</span>
									<label for="skill.test.fail.{{key}}.1">&nbsp;</label>
									<input type="radio" id="skill.test.fail.{{key}}.1" value="1">
									<label for="skill.test.fail.{{key}}.2">&nbsp;</label>
									<input type="radio" id="skill.test.fail.{{key}}.2" value="2">
									<label for="skill.test.fail.{{key}}.3">&nbsp;</label>
									<input type="radio" id="skill.test.fail.{{key}}.3" value="3">
									<label for="skill.test.fail.{{key}}.4">&nbsp;</label>
									<input type="radio" id="skill.test.fail.{{key}}.4" value="4">
								</div>
						</tr>
					{{/each}}
				</table>
			</div>
		</div>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/torchbearer2e/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/torchbearer2e/templates/actor/parts/actor-spells.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/torchbearer2e/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

